body{
    background-color:rgb(231, 145, 83);
}
.container {
    max-width: 600px;
    margin: 10vh auto 0 auto;
    box-shadow: 0px 0px 10px 5px rgb(0, 0, 0);
    background-color: whitesmoke;
}

#screen {
    text-align: right;
    height: 70px;
    line-height: 70px;
    padding: 16px 8px;
    font-size: 35px;
    font-weight: bolder;
}

.keys {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.keys > div {
    border-top: 2px solid rgb(0, 0, 0);
    border-right: 2px solid rgb(0, 0, 0);
}

.key {
    line-height: 100px;
    text-align: center;
    font-size: 35px;
    cursor: pointer;
    font-weight:bolder;
    
}

.symbol {
    background-color: rgb(83, 237, 232);
}

.key:hover {
    background-color: #0d0d0d;
    color: white;
    transition: 0.5s ease-in-out;
}